@import 'tailwindcss';

@plugin 'daisyui';

@layer utilities {
	@keyframes pulse-bg {
		0%,
		100% {
			background-color: var(--color-error);
		}
		50% {
			background-color: oklch(from var(--color-error) calc(l - 0.2) c h);
		}
	}

	.animate-pulse-bg {
		animation: pulse-bg 2s infinite ease-in-out;
	}
}

/* https://tailwindcss.com/docs/upgrade-guide#hover-styles-on-mobile */
@custom-variant hover (&:hover);
